* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffe4c4;
  font-family: 'Inter', sans-serif;
}

.d-n {
  display: none;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.disabled {
  opacity: 0.4;
}

.enabled {
  opacity: 1;
}